<!DOCTYPE html>
<html lang="en">
    
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Photho-Gold</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Retrina group" />

        <!--  FavIcon  -->
        <link rel="shortcut icon" href="static/img/cameri.ico">

        <!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Muli:400,600" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

        <!--  plugins Css  -->
        <link rel="stylesheet" type="text/css" href="static/css/plugins.css">
        <!--  Custom Style CSS  -->
        <link rel="stylesheet" href="static/css/style.css">

    </head>
    <body class="pilling-page nill-dark"  data-spy="scroll" data-target="#scrollspy" data-offset="1">

        <!--  Pre Loader  -->
        <div id="overlayer">
            <span class="spinner-grow spinner-grow-lg loader" role="status" aria-hidden="true"></span>
        </div>





        <!--  Page Pilling  Strat  -->
		 <div id="pagepiling" class="pagepiling">

             <!--   Header Start -->
             <header>
                 <div class="logo-area">
                     <a href="#hero" class="logo">
                         <span class="size-sm mb-0 font-weight-bold pl-3 text-dark text-left">Photo<span class="base-color">Gold</span></span>
                     </a>
                 </div>
                 <div class="header-info-area">
                     <a class="overlay-menu-toggler lni-menu size-md" href="javascript:void(0);"></a>
                 </div>
             </header>
             <!--   Header End   -->

             <!--    Overlay Menu Start    -->
             <div class="overlay-menu bg-blue py-3 px-4 text-center center-item">
                 <!-- Overlay Menu -->
                 <div id="scrollspy" class="overlay-menu-list">
                     <div class="container">
                         <div class="row">
                             <div class="col-lg-8 offset-lg-2 overlay-nav">
                                 <ul class="list-group text-left" id="myMenu">
                                     <li data-menuanchor="hero" class="list-group-item"><a href="#hero">Inicio</a></li>
                                     <li data-menuanchor="about" class="list-group-item"><a href="#about">¿Quienes somos? </a></li>
                                     <li data-menuanchor="services" class="list-group-item"><a href="#services">Productos</a></li>
                                     <li data-menuanchor="portfolio" class="list-group-item"><a href="#portfolio">Fotos</a></li>
                                     <li data-menuanchor="client" class="list-group-item"><a href="#testimonial">Formulario</a></li>
                                     <li data-menuanchor="blog" class="list-group-item"><a href="#blog">Comentarios</a></li>
                                     <li data-menuanchor="login" class="list-group-item"><a href={% url "login" %}>login</a></li>
                                     <li data-menuanchor="form" class="list-group-item"><a href={% url "form" %}>Formulario de factura</a></li>

                                 </ul>
                                 <ul class="list-group contact-info text-left mb-0">
                                     <li class="list-group-item"><span>Contact Info :</span></li>
                                     <li class="list-group-item"><span><i class="lni-map-marker"></i> ciudadela bastion-City</span></li>
                                     <li class="list-group-item"><span><i class="lni-phone-handset"></i> +593 9956585458--04 58695855</span></li>
                                     <li class="list-group-item"><span><i class="lni-envelope"></i> administracion@phothog.com</span></li>
                                     <li class="list-group-item"><span>Follow me :</span></li>
                                     <li class="list-group-item">
                                         <ul class="list-inline socails">
                                            <li class="list-inline-item"><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="lni-twitter-filled"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="lni-linkedin-original"></i></a></li>
                                        </ul>
                                     </li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!--    Overlay Menu End    -->

            <!--    Hero Start    -->
            <section class="section pp-scrollable hero hero-01 bg-dark" id="hero">
                <div class="display-table">
                    <div class="display-content">
                        <div class="container">
                            <div class="title-small">
                                <p class="text-dark">Inicio</p>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <div class="hero-content">
                                        <h1 class="text-dark mb-3">Photo Gold Estudios</h1>
                                        <h4 class="text-dark text-capitalize mb-0"><span class="base-color">Servicios  </span> <span class="element" data-elements="y accesorios fotograficos."></span></h4>
                                        <p class="text-dark max-width-450 mx-0 my-4">Ofrecemos los mejores servicios en cuanto a calidad de fotografia y accseorios.</p>
                                        <div>
                                            <ul class="list-inline social-icon mt-2">
                                                <li class="list-inline-item"><a href="javascript:void(0);"><i class="lni-facebook-filled text-dark"></i></a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0);"><i class="lni-twitter-filled text-dark"></i></a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0);"><i class="lni-linkedin-original text-dark"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--    Hero End    -->

            <!--   About Start   -->
            <section id="about" class="section pp-scrollable about text-dark bg-dark">
                <div class="display-table">
                    <div class="display-content">
                        <div class="container">
                        <div class="row">
                            <div class="title-small">
                                <p class="text-dark">¿Quienes somos?</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-6">
                                <img src="static/img/olo.jpg" alt="/" class="rounded img-thumbnail w-100">
                            </div>
                            <div class="col-lg-6 personal-item  mb-4 mb-lg-0">
                                <h2 class="text-dark mb-2">¿Quienes <span class="base-color">somos?</span></h2>
                                <h5 class="text-dark mb-3">Somos una pagina dedicada al servicio de fotografia tambien contamos con ventas de camaras profecionales ademas contamos con una variedad de accsesorios y repuestos para las mismas. Gran cailidad de productos</h5>

                            </div>
                        </div>
                        <div id="count-up" class="text-center">
                            <div class="container">

                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            <!--    About End    -->


             <!--   Services Start   -->
             <section id="services" class="section pp-scrollable services bg-dark">
                 <div class="display-table">
                     <div class="display-content">
                        <div class="container">
                         <div class="row">
                             <div class="title-small">
                                 <p class="text-dark">Servicios</p>
                             </div>
                             <div class="col-lg-12">
                                 <div class="text-left">
                                     <h2 class="text-dark mb-3">servicios <span class="base-color"></span></h2>
                                     <p class="text-muted">variedad de servicios</p>
                                 </div>
                             </div>
                         </div>
                         <div class="row mt-4">
                             <!-- Item 01 -->
                             <div class="col-lg-4 text-left">
                                 <div class="services-item">
                                     <div class="float-left mt-lg-1 d-inline-block services-icon">
                                         <i class="lni-brush-alt size-md base-color"></i>
                                     </div>
                                     <div class="services-content">
                                         <h5 class="mb-3">Edicion de Fotografias</h5>
                                         <p class="text-muted mb-0">Le damos un estilo a tus fotografias, como gustes edicion fantastica e impresionates </p>
                                     </div>
                                 </div>
                             </div>
                             <!-- Item 02 -->
                             <div class="col-lg-4 text-left">
                                 <div class="services-item">
                                     <div class="float-left mt-lg-1 d-inline-block services-icon">
                                         <i class="lni-check-mark-circle size-md base-color"></i>
                                     </div>
                                     <div class="services-content">
                                         <h5 class="mb-3">Garantias y soporte</h5>
                                         <p class="text-muted mb-0">Ofrecemos la mejor garantia para las camaras que tenemos en venta al igual que accsesorios ademas brindamos soporte tecnico </p>
                                     </div>
                                 </div>
                             </div>
                             <!-- Item 03 -->
                             <div class="col-lg-4 text-left">
                                 <div class="services-item">
                                     <div class="float-left mt-lg-1 d-inline-block services-icon">
                                         <i class="lni-heart size-md base-color"></i>
                                     </div>
                                     <div class="services-content">
                                         <h5 class="mb-3">Seguridad y confianza</h5>
                                         <p class="text-muted mb-0">Ofrecemos la mejor atencion haciendo que el cliemte se sienta conforme al adquirir un producto o servicio</p>
                                     </div>
                                 </div>
                             </div>

                         </div>
                     </div>
                     </div>
                 </div>
             </section>
             <!--   Services End   -->

            <!--  Portfolio Start  -->
            <section id="portfolio" class="section pp-scrollable portfolio bg-dark">
                <div class="display-table">
                    <div class="display-content">
                        <div class="container">
                        <div class="row">
                            <div class="title-small">
                                <p class="text-dark">Productos</p>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-left">
                                    <h2 class="text-dark"> <span class="base-color">Productos</span></h2>
                                    <p class="text-muted mx-auto section-subtitle mt-3">Camaras fotograficas, acsesorios y mas</p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <!--   Portfolio Filters   -->
                            <ul id="portfolio-filter" class="list-unstyled list-inline mb-0 col-lg-12 text-left portfolio-filter">
                                <li class="list-inline-item">
                                    <a href="#" data-filter="*" class="active my-1">All</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" data-filter=".cam" class="my-1">Camaras</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#" data-filter=".acc" class="my-1">Accsesorios</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portfolio-items mt-4 row">
                            <!-- Item 01 -->
                            <div class="col-lg-4 portfolio-item my-3 cam">
                                <div class="portfolio-item-content rounded">
                                    <img src="static/img/portfolio/cam1.jpg" alt="/">
                                    <div class="img-overlay text-center">
                                        <div class="img-overlay-content">
                                            <div class="portfolio-icon">
                                                <a href="static/img/portfolio/cam1.jpg" class="js-zoom-gallery">
                                                    <i class="lni-search"></i>
                                                </a>
                                            </div>
                                            <h5 class="text-white mt-3 mb-0">Camara Canom EOS 5D</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 02 -->
                            <div class="col-lg-4 portfolio-item my-3 cam">
                                <div class="portfolio-item-content rounded">
                                    <img src="static/img/portfolio/cam2.jpg" alt="/">
                                    <div class="img-overlay text-center">
                                        <div class="img-overlay-content">
                                            <div class="portfolio-icon">
                                                <a href="static/img/portfolio/cam2.jpg" class="js-zoom-gallery">
                                                    <i class="lni-search"></i>
                                                </a>
                                            </div>
                                            <h5 class="text-white mt-3 mb-0">Camara canom G7X</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 03 -->
                            <div class="col-lg-4 portfolio-item my-3  cam">
                                <div class="portfolio-item-content rounded">
                                    <img src="static/img/portfolio/cam3.jpg" alt="/">
                                    <div class="img-overlay text-center">
                                        <div class="img-overlay-content">
                                            <div class="portfolio-icon">
                                                <a href="static/img/portfolio/cam3.jpg" class="js-zoom-gallery">
                                                    <i class="lni-search"></i>
                                                </a>
                                            </div>
                                            <h5 class="text-white mt-3 mb-0">Camara canom profe cam grabado 4K full HD</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 04 -->
                            <div class="col-lg-4 portfolio-item my-3 cam">
                                <div class="portfolio-item-content rounded">
                                    <img src="static/img/portfolio/cam4.jpg" alt="/">
                                    <div class="img-overlay text-center">
                                        <div class="img-overlay-content">
                                            <div class="portfolio-icon">
                                                <a href="static/img/portfolio/cam4.jpg" class="js-zoom-gallery">
                                                    <i class="lni-search"></i>
                                                </a>
                                            </div>
                                            <h5 class="text-white mt-3 mb-0">Camara Nikon D700</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 05 -->
                            <div class="col-lg-4 portfolio-item my-3 mobiledesign cam">
                                <div class="portfolio-item-content rounded">
                                    <img src="static/img/portfolio/cam5.jpg" alt="/">
                                    <div class="img-overlay text-center">
                                        <div class="img-overlay-content">
                                            <div class="portfolio-icon">
                                                <a href="static/img/portfolio/cam5.jpg" class="js-zoom-gallery">
                                                    <i class="lni-search"></i>
                                                </a>
                                            </div>
                                            <h5 class="text-white mt-3 mb-0">Camara Sony aII99</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 06 -->
                            <div class="col-lg-4 portfolio-item my-3 webdesign acc">
                                <div class="portfolio-item-content rounded">
                                    <img src="static/img/portfolio/acc1.jpg" alt="/">
                                    <div class="img-overlay text-center">
                                        <div class="img-overlay-content">
                                            <div class="portfolio-icon">
                                                <a href="static/img/portfolio/acc1.jpg" class="js-zoom-gallery">
                                                    <i class="lni-search"></i>
                                                </a>
                                            </div>
                                            <h5 class="text-white mt-3 mb-0">Estabilizador de camara</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 07 -->
                            <div class="col-lg-4 portfolio-item my-3 acc">
                                <div class="portfolio-item-content rounded">
                                    <img src="static/img/portfolio/acc2.jpg" alt="/">
                                    <div class="img-overlay text-center">
                                        <div class="img-overlay-content">
                                            <div class="portfolio-icon">
                                                <a href="static/img/portfolio/acc2.jpg" class="js-zoom-gallery">
                                                    <i class="lni-search"></i>
                                                </a>
                                            </div>
                                            <h5 class="text-white mt-3 mb-0">Lentes de camara extencion de zoom</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 08 -->
                            <div class="col-lg-4 portfolio-item my-3 acc ">
                                <div class="portfolio-item-content rounded">
                                    <img src="static/img/portfolio/acc3.jpg" alt="/">
                                    <div class="img-overlay text-center">
                                        <div class="img-overlay-content">
                                            <div class="portfolio-icon">
                                                <a href="static/img/portfolio/acc3.jpg" class="js-zoom-gallery">
                                                    <i class="lni-search"></i>
                                                </a>
                                            </div>
                                            <h5 class="text-white mt-3 mb-0">Tirantes de camara</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item 09 -->
                            <div class="col-lg-4 portfolio-item my-3 acc">
                                <div class="portfolio-item-content rounded">
                                    <img src="static/img/portfolio/acc4.jpg" alt="/">
                                    <div class="img-overlay text-center">
                                        <div class="img-overlay-content">
                                            <div class="portfolio-icon">
                                                <a href="static/img/portfolio/acc4.jpg" class="js-zoom-gallery">
                                                    <i class="lni-search"></i>
                                                </a>
                                            </div>
                                            <h5 class="text-white mt-3 mb-0">Tripode para camara 1,50 metros</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            <!--   Portfolio End   -->



            <!--   Blog Start   -->
            <section id="blog" class="section pp-scrollable blog bg-dark">
                <div class="display-table">
                    <div class="display-content">
                        <div class="container">
                        <div class="row">
                            <div class="title-small">
                                <p class="text-dark">Fotos</p>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-left">
                                    <h2 class="text-dark">Fotos <span class="base-color">Populares</span></h2>
                                    <p class="text-muted mt-1">Fotografias hechas por buenos fotografos </p>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <!-- Item-01 -->
                            <div class="col-lg-4">
                                <div class="blog-item">
                                    <div class="image-blog">
                                        <img src="static/img/lo1.jpg" alt="/" class="img-fluid rounded-top">
                                    </div>
                                    <div class="blog-content rounded-bottom text-left p-3">
                                        <h5 class="mb-0 mt-3"><a href="javascript:void(0)" data-toggle="modal" data-target="#blog-single" class="text-dark font-weight-light">Canoa en rio con bosque</a></h5>
                                        <ul class="list-inline mt-3">
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <i class="base-color font-weight-bold">by</i>
                                                    <span class="text-dark font-italic">Luis Vargas</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <p class="text-muted mt-3">Foto de de un hombre en una canoa en un rio remando con edicion blur y acondicionamiento de color.</p>
                                        <div class="blog-link pb-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item-02 -->
                            <div class="col-lg-4">
                                <div class="blog-item">
                                    <div class="image-blog">
                                        <img src="static/img/lo2.jpg" alt="/" class="img-fluid rounded-top">
                                    </div>
                                    <div class="blog-content rounded-bottom text-left p-3">
                                        <h5 class="mb-0 mt-3"><a href="javascript:void(0)" data-toggle="modal" data-target="#blog-single" class="text-dark font-weight-light">Mitad de la cara de un hombre en el agua</a></h5>
                                        <ul class="list-inline mt-3">
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <i class="base-color font-weight-bold">by</i>
                                                    <span class="text-dark font-italic">Eliot Ruiz</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <p class="text-muted mt-3">Foto de una personas de sexo masculino con la mitad de la cara en el agua y la otra mitad en le aire tomada con Canon EOS-1D X Mark III HDR.</p>
                                        <div class="blog-link pb-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Item-03 -->
                            <div class="col-lg-4">
                                <div class="blog-item">
                                    <div class="image-blog">
                                        <img src="static/img/no1.jpg" alt="/" class="img-fluid rounded-top">
                                    </div>
                                    <div class="blog-content rounded-bottom text-left p-3">
                                        <h5 class="mb-0 mt-3"><a href="javascript:void(0)" data-toggle="modal" data-target="#blog-single" class="text-dark font-weight-light">Foca Modelo</a></h5>
                                        <ul class="list-inline mt-3">
                                            <li class="list-inline-item">
                                                <a href="#">
                                                    <i class="base-color font-weight-bold">by</i>
                                                    <span class="text-dark font-italic">Carlos Rivera</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <p class="text-muted mt-3">Foto de una foca en una casa muy my ambientada estilo natural color de contraste bajo y calido.</p>
                                        <div class="blog-link pb-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            <!--   Blog End   -->

            <!--   Contact Start   -->
            <section id="contact" class="section pp-scrollable contact bg-dark">
                <div class="display-table">
                    <div class="display-content">
                        <div class="container">
                        <div class="row">
                            <div class="title-small">
                                <p class="text-dark">Formulario</p>
                            </div>
                            <div class="col-lg-12">
                                <div class="text-left">
                                    <h2 class="text-dark">Formulario <span class="base-color"> de pedido</span></h2>
                                    <p class="text-muted mx-auto section-subtitle mt-3">Llena el formulario para saber mas de tus pedidos</p>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-lg-6 text-left">
                                <div class="contact-form">
                                    <h6 class="font-weight-semibold">¿Dudas sobre nuestros productos? </h6>
                                    <p class="text-muted mt-3">ponte en contacto connostros o llena el formulario y te estaremos enviando un email con la informacion .</p>
                                    <div class="mt-4">
                                        <p class="mt-2 font-weight-bold"> Direccion : <span class="text-muted"> ciudadela bastion-City</span></p>
                                        <p class="mt-2 font-weight-bold"> Telefono : <span class="text-muted">+593 9956585458--04 58695855</span></p>
                                        <p class="mt-2 font-weight-bold"> Email : <span class="text-muted">administracion@phothog.com </span></p>
                                        <p class="mt-2 font-weight-bold"> Web : <span class="text-muted">www.photogold.com </span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-left">
                                <h6 class="font-weight-semibold">Ingresa tus datos </h6>
                                <form id="contactForm" class="form mt-3">
                                    <div class="row">
                                        <div class="col-lg-12 form-item">
                                            <div class="form-group">
                                                <input name="name" id="name" type="text" class="form-control" placeholder="Nombres*" required >
                                            </div>
                                        </div>
                                        <div class="col-lg-12 form-item">
                                            <div class="form-group">
                                                <input name="email" id="email" type="email" class="form-control" placeholder="Email*" required >
                                            </div>
                                        </div>
                                        <div class="col-lg-12 form-item">
                                            <div class="form-group">
                                                <input name="email" id="name" type="text" class="form-control" placeholder="Nombre del producto*" required >
                                            </div>
                                        </div>

                                        <div class="col-sm-12 mt-1 text-left">
                                            <button type="button" class="pill-button" id="submit-btn" onclick="sendEmail()">Enviar</button>
                                            <div id="message" class="toast text-white shadow-none border-0" role="alert" aria-live="assertive" aria-atomic="true" data-delay="4000" >
                                                <div class="toast-body d-inline-block"></div>
                                                <button type="button" class="pr-3 close" data-dismiss="toast" aria-label="Close">
                                                    <span aria-hidden="true" class="lni-close size-xs text-white"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>
            <!--   Contact End   -->

             <!--   Footer Start   -->
             <div id="footer" class="section pp-scrollable footer">
                 <div class="container-fluid">
                     <div class="row py-6">
                         <div class="title-small">
                             <p class="text-dark">Comentarios</p>
                         </div>

                         <div class="text-center m-auto">
                             <p class="text-dark size-sm">Photho<span class="base-color">Gold</span></p>
                             <h2 class="text-dark">Comentarios <span class="base-color"></span></h2>
                             <div class="col-lg-12 form-item">
                                            <div class="form-group">
                                                <input name="name" id="name" type="text" class="form-control" placeholder="Nombres*" required >
                                            </div>
                             </div>
                             <div class="col-lg-12 form-item">
                                            <div class="form-group">
                                                <input name="email" id="email" type="email" class="form-control" placeholder="Email*" required >
                                            </div>
                             </div>
                             <div class="col-12 form-item">
                                            <div class="form-group">
                                                <textarea name="comments" id="comments" rows="2" class="form-control h-auto" placeholder="Escribe tu comentario..."></textarea>
                                            </div>
                             </div>
                             <div class="col-sm-12 mt-1 text-left">
                                            <button type="button" class="pill-button" id="submit-btn" onclick="sendEmail()">Enviar</button>
                             </div>
                             <ul class="list-inline socails">
                                 <li class="list-inline-item"><a class="text-white" href="#"><i class="lni-facebook-filled text-dark mr-2"></i></a></li>
                                 <li class="list-inline-item"><a class="text-white" href="#"><i class="lni-twitter-filled text-dark mr-2"></i></a></li>
                                 <li class="list-inline-item"><a class="text-white" href="#"><i class="lni-linkedin-original text-dark mr-2"></i></a></li>
                             </ul>
                             <p class="pl-3 text-dark">Copyright © 2019. Template has been designed by <a class="base-color" href="javascript:void(0);">Juan Leon</a></p>
                         </div>
                     </div>
                 </div>
             </div>
             <!--   Footer End   -->

             <!--   Color Scheme  -->
             <a class="color-scheme text-white bg-base-color d-inline-block" href="javascript:void(0)"><i class="lni-sun"></i></a>
             <a class="color-scheme color-scheme-light text-white bg-base-color d-none" href="javascript:void(0)"><i class="lni-night"></i></a>

        </div>
        <!--  Page Pilling  End -->


        <!--  JavaScripts  -->
        <script src="static/js/jquery-3.4.1.min.js"></script>
        <!--  Plugins JS  -->
        <script src="static/js/plugins.js"></script>
        <!-- Map Js -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcmB207_E3E4SkA8jTA8FQjSWTop9YxZU"></script>
        <!--  Custom JS  -->
        <script src="static/js/nill.js"></script>

    </body>

</html>